.building {
    width: 1024px;
    height: 389px;
    margin-left: -512px;
    bottom: 8%;
}
.building .line-base,
.building .line-base1,
.building .line-base2 {
    width: 0;
    height: 243px;
    position: absolute;
}
.building .line-base {
    background: url(../img/line-base.png) no-repeat left;
    left: 76px;
    top: 118px;
    z-index: 96;
    background-size: 934.8px 243px;
}
.building .line-base1 {
    background: url(../img/line-base1.png) no-repeat right;
    right: 14px;
    top: 118px;
    z-index: 97;
    background-size: 934.8px 243px;
}
.building .line-base2 {
    background: url(../img/line-base2.png) no-repeat left;
    background-size: 934.8px 243px;
    left: 76px;
    top: 118px;
    z-index: 98;
}
@-webkit-keyframes light-in {
    from {
        width: 0;
    }
    to {
        width: 934.8px;
    }
}
@keyframes light-in {
    from {
        width: 0;
    }
    to {
        width: 934.8px;
    }
}
.line-base {
    -webkit-animation: light-in 3s ease-out 8s forwards;
    -o-animation: light-in 3s ease-out 8s forwards;
    animation: light-in 3s ease-out 8s forwards;
}
.line-base1 {
    -webkit-animation: light-in 3s ease-in 11s forwards;
    -o-animation: light-in 3s ease-in 11s forwards;
    animation: light-in 3s ease-in 11s forwards;
}
.line-base2 {
    -webkit-animation: light-in 5s ease-in 14s forwards;
    -o-animation: light-in 5s ease-in 14s forwards;
    animation: light-in 5s ease-in 14s forwards;
}